<table class="pricing table table-striped table-bordered">
	<thead>
		<tr>
			<th>Plan Type</th>
			<td>Lab Technician</td>
			<td class="recommended">Life Optimizer</td>
			<td>Research Coordinator</td>
			<td>Enterprise</td>
		</tr>
		<tr>
			<th>Price</th>
			<td><del>$9/month</del><p>Not Yet Available</p></td>
			<td><p class="price">$29/month</p></td>
			<td><del>$49/month</del><p>Not Yet Available</p></td>
			<td><del>$299/month</del><p>Not Yet Available</p></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Make New Experiments</th>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
		</tr>
		<tr>
			<th>Gather Data From Around the World</th>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
		</tr>
		<tr>
			<th>Perform Personal Experiments</th>
			<td><p class='nope'>No</p></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
		</tr>
		<tr>
			<th>Certification Of Data Authenticity</th>
			<td><p class='nope'>No</p></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
		</tr>
		<tr>
			<th>Automatic Experiment Recommendations</th>
			<td><p class='nope'>No</p></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
		</tr>
		<tr>
			<th>Combine Data With Other Users</td>
			<td><p class='nope'>No</p></td>
			<td><p class='nope'>No</p></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
		</tr>
		<tr>
			<th>HIPAA Compliance Guaranteed</th>
			<td><p class='nope'>No</p></td>
			<td><p class='nope'>No</p></td>
			<td><p class='nope'>No</p></td>
			<td><%= image_tag("check.png", :class => 'check') %></td>
		</tr>
		<tr>
			<th>Sign Up Here</th>
			<td><p>Coming Soon!</p><a class="btn" href="#">Tell Me When It's Ready</a></td>
			<td><a class="btn btn-success btn-large" href="<%= new_subscription_url %>">Sign Up Now!</p></td>
			<td><p>Coming Soon!</p><a class="btn" href="#">Tell Me When It's Ready</a></td>
			<td><p>Coming Soon!</p><a class="btn" href="#">Tell Me When It's Ready</a></td>
		</tr>
	</tbody>
</table>
<a href="<%= new_subscription_url(:params => {:trial => true}) %>">Start Your 14-Day Free Trial Now!</a>
