<!DOCTYPE html>
<html>
<head>
  <title>Bayescraft</title>
  <!--[if lt IE 9]>
	<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="<%= root_url %>" class="brand"> BayesCraft </a>
				<div class="nav-collapse">
					<ul class="nav">
						<% if current_user.nil? %>
							<li class="<% if controller_name == "experiments" %>active<% end %>"> 
								<a href="<%= experiments_url %>"> Experiments </a>
							</li>
							<li class="<% if controller_name == "pricing" %>active<% end %>"> 
								<a href="<%= pricing_index_url %>"> Pricing </a>
							</li>
						<% else %>
							<li class="<% if controller_name == "user" || 
										(controller_name == "experiments" && @private) %>active<% end %>"> 
								<a href="<%= user_url(current_user.id) %>"> Your Experiments </a>
							</li>
							<li class="<% if controller_name == "experiments" %>active<% end %>"> 
								<a href="<%= experiments_url %>"> Public Experiments </a>
							</li>
						<% end %>
						<li class="<% if controller_name == "about" %>active<% end %>"> 
							<a href="#"> About Us </a>
						</li>
					</ul>
					<ul class="nav pull-right">
						<% if current_user %>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">Manage Your Account</a>
								<ul class="dropdown-menu"><li><a href="<%= edit_subscription_url(current_user.subscription) %>">Cancel Your Subscription</a></li></ul>
							</li>
							<li class="<% if controller_name == "sessions" %>active<% end %>">
								<a href="<%= logout_url %>">Log Out</a>
							</li>
						<% else %>
							<li class="<% if controller_name == "sessions" %>active<% end %>">
								<a href="<%= login_url %>">Log In</a>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
